.form{
    display: flex;
    flex-direction: column;
}
.form label{
    font-weight: 900;
    padding: 0.5rem 0;
}

.label{
    text-align: center;
    font-size: large;
    font-weight: 900;
    margin: 30px auto;
}
.properties,.mores{
    display: flex;
    flex-direction: column;
}
.properties, .mores input,select{
    width: 350px;
    padding: 0.2rem 0;
    outline: none;
}

.form{
    color: #fff;
}
.form button{
background: #f15050;
margin-top: 0.2rem;
padding: 0.5rem 0;
color: #fff;
font-weight: 900;
}
.form button:focus{
    background: #fff;
    color: black;
}