.sidebar{
  margin: 80px 0;
    position: fixed;
    height: 100%;
    width: 200px;
    padding: 50px 0px 0px 0px;
    background: #01011f;
  }
 
  .sidebar li{
    padding: 35px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
 
  .sidebar li:hover{
    background: red;
    cursor: pointer;
   
  }
.link{
  text-decoration: none;
}

 